.dummy {
    height: 1000px;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    color:rgba(0, 0, 0, 0.8) ;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.dummy h6{
    max-width:80%;
    position:relative;
    left:100px;
   
}
.font{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    margin-top: 80px;
}

/* ヘッダー用CSS */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 48px;
    padding: 16px 24px;
    background-color: rgba(209, 116, 45, 0.947);
    z-index: 2;
    box-shadow: 0 10px 3px rgba(191, 62, 19, 0.613);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav{
    display: flex;
    margin: 0 0 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
header span{
    
    display: block;
    width: 70%;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #faf6f6;
    font-family: 'Sacramento', cursive;
}

header nav a{
    display: block;
    margin: 0 24px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    line-height: 48px;
}


/* スライドショー用CSS */
.swiper{
    width: 500px;
    height: 500px;
    margin: 80px auto;
}
.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content img {
    width: 300px;
    height: 300px;
}